{% load i18n %}
{% load static %}
<script src="{% static "themes/js/pages/taller/labour/labour.js" %}"></script>
<table id="myTable" class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Type Job</th>
        <th>Name</th>
        <th>Cost Price</th>
        <th>Sale Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for labour in labour_list %}
        <tr>
            <td><strong>{{ forloop.counter }}</strong>.-</td>
            <td>{{ labour.type_labour.name }}</td>
            <td>{{ labour.name }}</td>
            <td>{{ labour.cost_price }}</td>
            <td>{{ labour.sale_price }}</td>
            <td>
                <button data-id="{{ labour.id }}" class="btn btn-info btn-circle waves-effect labour_edit">
                    <i class="fa fa-pencil"></i>
                </button>
                {# button data-id="{{ client.id }}" class="btn btn-danger btn-circle waves-effect client_remove"><i class="fa fa-trash"></i></button>#}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>