{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block js %}
    <script>
        var URL_TYPECHECKLIST_ADD = "{% url 'admin-typechecklist:add' %}";
        var URL_TYPECHECKLIST_EDIT = "{% url 'admin-typechecklist:edit' %}";
        var URL_TYPECHECKLIST_LIST = "{% url 'admin-typechecklist:list' %}";
    </script>
{% endblock js %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <button id="add_typechecklist" class="btn btn-block btn-outline btn-primary waves-effect">{%  trans 'Add Type Check List' %}</button>
                </div>
                <div class="clear"></div>
                <br>
                <div id="list_table" class="table-responsive">
                    {% include 'pages/taller/typechecklist/typechecklist_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="modal_typechecklist" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;"></div>
    </div>
{% endblock container %}
