{% load i18n %}
{% load static %}
<link href="{% static "themes/global/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
<script src="{% static "themes/global/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "themes/global/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js" %}"></script>
<script src="{% static "themes/global/bootstrap3-typeahead/bootstrap3-typeahead.min.js" %}"></script>
<link href="{% static "themes/global/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" %}" rel="stylesheet">
<script src="{% static "themes/global/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" %}"></script>
<script>
    jQuery('#id_quotation_current_date').datepicker({autoclose: true, format: 'yyyy-mm-dd', language:'es'});
    jQuery(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = jQuery(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                jQuery('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }
            jQuery("input[name='tch2']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,
                prefix: 's/.'
            });
</script>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Quotation New</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form id="form_quotation" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">{% trans 'Date' %}</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        {{ form_quotation.current_date }}
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <span class="help-block">{{ form_quotation.current_date.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">{% trans 'Vehicle' %}</label>
                                <div class="col-md-9">
                                    {{ form_quotation.vehicle }}
                                    <span class="help-block">{{ form_quotation.vehicle.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 .col-md-offset-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">{% trans 'Client' %}</label>
                                    <div class="col-md-9">
                                        {{ form_quotation.client }}
                                        <span class="help-block">{{ form_quotation.client.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">{% trans 'Labour' %}</label>
                                <div class="col-md-9">
                                    {{ form_quotation.labour }}
                                    <span class="help-block">{{ form_quotation.labour.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">{% trans 'Price venta' %}</label>
                                <div class="col-md-9">
                                    {{ form_quotation.sale_price }}
                                    <span class="help-block">{{ form_quotation.sale_price.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-md-offset-10">
                                <button class="btn btn-info waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-plus-square"></i></span>Add new</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                       <div class="table-responsive m-t-20">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th class="text-left">#</th>
                                <th>Description</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Unit Cost</th>
                                <th class="text-right">Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-left"><strong>1.-</strong></td>
                                <td>Milk Powder</td>
                                <td class="text-center"><div class="col-sm-6 col-md-offset-4"> <input  class="vertical-spin" type="text" data-bts-button-down-class="btn btn-default btn-outline"   data-bts-button-up-class="btn btn-default btn-outline" value="0" name="vertical-spin"></div></td>
                                <td class="text-center">14.51 </td>
                                <td class="text-center">25.52 </td>
                              </tr>
                            </tbody>
                          </table>
                       </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="pull-right m-t-30 text-right">
                              <p>Sub - Total amount: $13,848</p>
                              <p>vat (10%) : $138 </p>
                              <hr>
                              <h3><b>Total :</b> $13,986</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">{% trans "Cancel" %}</button>
             {% if not btn_edit %}
                <button type="button" id="save_quotation" class="btn btn-danger waves-effect waves-ligh">{% trans "Submit" %}</button>
            {% else %}
                <button type="button" id="update_quotation" data-id="{{ form_pk }}" class="btn btn-danger waves-effect waves-ligh">{% trans "Update" %}</button>
            {% endif %}
        </div>
    </div>
</div>