{% load i18n %}
{% load static %}
<script src="{% static "themes/js/pages/taller/vehicle/vehicle.js" %}"></script>
<table id="myTable" class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Plaque</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Flotilla</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicle_list %}

        <tr>
            <td><strong>{{ forloop.counter }}</strong>.-</td>
            <td>{{ vehicle.plaque }}</td>
            <td>{{ vehicle.brand }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.year_car }}</td>
            <td>{{ vehicle.color }}</td>
            <td>{{ vehicle.is_flotilla }}</td>
            <td>
                <button data-id="{{ vehicle.id }}" class="btn btn-info btn-circle waves-effect vehicle_edit">
                    <i class="fa fa-pencil"></i>
                </button>
                {# button data-id="{{ client.id }}" class="btn btn-danger btn-circle waves-effect client_remove"><i class="fa fa-trash"></i></button>#}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>