{% load i18n %}
{% load static %}
<script src="{% static "themes/js/pages/taller/checklist_labour/checklist_labour.js" %}"></script>
<table class="table table-condensed">
    <thead>
    <tr>
        <td>#</td>
        <td>Labour</td>
        <td>Description</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    {% for labour_employee in labour_employees %}
        <tr>
            <td><strong>{{ forloop.counter }}</strong>.-</td>
            <td>{{ labour_employee.labour.name }}</td>
            <td>{{ labour_employee.description|default_if_none:"" }}</td>
            <td>{{ labour_employee.get_status_labour_display }}</td>
            <td>
{#                <button data-id="{{ labour_employee.id }}" class="btn btn-default btn-outline waves-effect waves-light checklist_labour_task">#}
{#                    {% trans 'task' %}#}
{#                </button>#}
{#                <button data-id="{{ labour_employee.id }}" class="btn btn-default btn-outline waves-effect waves-light checklist_labour_edit">#}
{#                    {% trans 'Edit' %}#}
{#                </button>#}
                <button data-id="{{ labour_employee.id }}" class="btn btn-default btn-outline waves-effect waves-light checklist_labour_finished">
                    {% trans 'finisdhed ' %}
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
