{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block js %}
    <script>
{#        var URL_CHECKLIST_LABOUR_ADD = "{% url 'checklist-labour:add' %}";#}
{#        var URL_CHECKLIST_LABOUR_EDIT = "{% url 'checklist-labour:edit' %}";#}
        var URL_CHECKLIST_LABOUR_LIST = "{% url 'checklist-labour:list' %}";
        var URL_CHECKLIST_LABOUR_TASK = "{% url 'checklist-labour:add-task' %}";
    </script>
{% endblock js %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div id="list_table" class="table-responsive">
                    {% include 'pages/taller/checklist_labour/checklist_labour_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="modal_checklist_labour" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;"></div>
    </div>
{% endblock container %}
