{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block js %}
    <script>
        var URL_ORGANIZATION_ADD = "{% url 'admin-organization:add' %}";
        var URL_ORGANIZATION_EDIT = "{% url 'admin-organization:edit' %}";
        var URL_ORGANIZATION_LIST = "{% url 'admin-organization:list' %}";
    </script>
{% endblock js %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
{#                <div class="col-lg-2 col-sm-4 col-xs-12">#}
{#                    <button id="add_organization" class="btn btn-block btn-outline btn-primary waves-effect">{%  trans 'Add Organization' %}</button>#}
{#                </div>#}
                <div class="clear"></div>
                <br>
                <div id="list_table" class="table-responsive">
                    {% include 'pages/core/organization/organization_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="modal_organization" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;"></div>
    </div>
{% endblock container %}
