{% load i18n %}
{% load filter %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Brand New</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <form id="form_labour_employee" class="form-horizontal">
                   {% csrf_token %}
                    <div class="panel-group" id="accordion">
                        {% for checklist in formset_labour_employee %}
                            <div class="panel panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                            <b>{{ forloop.counter }}.-</b> {{ checklist.labour.labour.name }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <div class="col-md-12" id="content_{{ checklist.formset.prefix }}">
                                                {% if checklist.formset %}
                                                    {% for form in checklist.formset %}
                                                        <div class="col-md-3 col-md-push-9">
                                                            <button type="button"
                                                                    onclick="add_formset_global('{{ checklist.formset.prefix }}')"
                                                                    class="fcbtn btn btn-primary btn-outline btn-1c waves-effect">Add
                                                            </button>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <br><br>
                                                        <div class="form-group dynamic-form" id="{{ form.prefix }}-row">
                                                            {{ form.id|addcss:"hidden" }}
                                                            {{ form.DELETE|addcss:"hidden" }}
                                                            {{ form.ORDER|addcss:"hidden" }}
                                                            <label class="col-sm-2">task</label>
                                                            <div class="col-sm-7">
                                                                {{ form.task }}
                                                                {{ form.labour_checklist }}
                                                            </div>
                                                            <div class="col-sm-3 formset-icon-remove">
                                                                <button type="button"
                                                                        onclick="remove_formset_global(this, '{{ checklist.formset.prefix }}')"
                                                                        class="btn btn-danger btn-circle waves-effect">
                                                                    <i class="fa fa-times"></i></button>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br>
                                                            <div class="progress">
                                                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only"></span></div>
                                                            </div>

                                                        </div>
                                                    {% endfor %}
                                                {% endif %}

                                            </div>
                                            {{ checklist.formset.non_form_errors }}
                                            {{ checklist.formset.management_form }}

                                        </div>


                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect"
                    data-dismiss="modal">{% trans "Cancel" %}</button>
            {% if not btn_edit %}
                <button type="button" id="save_form_labour_employee" data-checklist-detail-id="{{ checklist_detail_id }}"
                        class="btn btn-danger waves-effect waves-ligh">{% trans "Submit" %}</button>
            {% else %}
                <button type="button" id="update_form_labour_employee" data-id="{{ form_pk }}"
                        class="btn btn-danger waves-effect waves-ligh">{% trans "Update" %}</button>
            {% endif %}
        </div>
    </div>
</div>