{% extends 'base.html' %}
{% load i18n %}
{% load filter %}
{% load static %}

{% block css_plugins %}
{% endblock css_plugins %}

{% block js %}
{% endblock js %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#mateintenance_list" role="tab" data-toggle="tab" aria-expanded="true">
                                    <span class="visible-xs"><i class="ti-home"></i></span>
                                    <span class="hidden-xs"> Matenimiento</span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#rental_list" role="tab" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="ti-user"></i></span>
                                    <span class="hidden-xs">Alquiler</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="mateintenance_list">
                                <div class="col-md-12">

                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>N° Billing</td>
                                                <td>Vehicle</td>
                                                <td>Placa</td>
                                                <td>Type Checklist</td>
                                                <td>Action</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for maintenace in form_checklist_maintenance %}
                                                <tr>
                                                    <td><strong>{{ forloop.counter }}</strong>.-</td>
                                                    <td>{{ maintenace.checklist.number_billing }}</td>
                                                    <td>{{ maintenace.type_vehicle }}</td>
                                                    <td>{{ maintenace.checklist.vehicle.plaque }}</td>
                                                    <td>{{ maintenace.type_checklist }}</td>
                                                    <td>
                                                        <button>inspection</button>
                                                        <button>orden</button>
                                                        <button>supervision</button>
                                                        <button>salida</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="rental_list">
                                <div class="col-md-12">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>N° Billing</td>
                                                <td>Vehicle</td>
                                                <td>Placa</td>
                                                <td>Type Checklist</td>
                                                <td>Action</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for rental in form_checklist_rental %}
                                                <tr>
                                                    <td><strong>{{ forloop.counter }}</strong>.-</td>
                                                    <td>{{ rental.checklist.number_billing }}</td>
                                                    <td>{{ rental.type_vehicle }}</td>
                                                    <td>{{ rental.checklist.vehicle.plaque }}</td>
                                                    <td>{{ rental.type_checklist }}</td>
                                                    <td>
                                                        <button>inspection</button>
                                                        <button>salida</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}

{% block js_plugins %}
{% endblock js_plugins %}

{% block js_app %}
    <script src="{% static "themes/js/pages/taller/checklist/checklist.js" %}"></script>
{% endblock js_app %}