{% extends 'base.html' %}
{% load i18n %}
{% load filter %}
{% load static %}

{% block css_plugins %}
    <link href="{% static "themes/global/jquery-wizard.js/css/wizard.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "themes/global/form.validation/dist/css/formValidation.min.css" %}" rel="stylesheet"
          type="text/css">
    <link href="{% static "themes/global/multiselect/css/multi-select.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "themes/global/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}"
          rel="stylesheet">
    <link href="{% static "themes/global/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}"
          rel="stylesheet">
    <link href="{% static "themes/global/clockpicker/dist/bootstrap-clockpicker.min.css" %}" rel="stylesheet"
          type="text/css">
{% endblock css_plugins %}

{% block js %}
{% endblock js %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="container-fluid">

                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-{{msg.level_tag}}">
                            <strong>{{ msg.level_tag|capfirst }}! </strong> {{msg.message}}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form id="form_checklist" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="exampleBasic" class="wizard">
                            <ul class="wizard-steps" role="tablist">
                                <li class="active current" role="tab" aria-expanded="true">
                                    <h4><span><i class="ti-user"></i></span>Checklist</h4>
                                <li role="tab" class="disabled" aria-expanded="false">
                                    <h4><span><i class="ti-user"></i></span>Inventario</h4>
                                <li role="tab" class="disabled" aria-expanded="false">
                                    <h4><span><i class="ti-user"></i></span>Imagen</h4>
                                </li>
                                <li role="tab" class="disabled"  aria-expanded="false">
                                    <h4><span><i class="ti-user"></i></span>Labores</h4>
                                </li>
                            </ul>
                            <div class="wizard-content">
                                <div class="wizard-pane active" role="tabpanel" aria-expanded="true">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Service' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.service_checklist }}
                                                <span class="help-block">{{ form_checklist_detail.service_checklist.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Type Vehicle' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.type_transport }}
                                                <span class="help-block">{{ form_checklist_detail.type_transport.errors }}</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Checklist' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.type_checklist }}
                                                <span class="help-block">{{ form_checklist_detail.type_checklist.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Client' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist.client }}
                                                <span class="help-block">{{ form_checklist.client.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Vehicle' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist.vehicle }}
                                                <span class="help-block">{{ form_checklist.vehicle.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Date' %}</label>
                                            <div class="input-group">
                                                {{ form_checklist_detail.date_initial }}
                                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            <span class="help-block">{{ form_checklist_detail.date_initial.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Fuel' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.fuel_initial }}
                                                <span class="help-block">{{ form_checklist_detail.fuel_initial.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Kms next maintenance' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.kms_next_maintenance }}
                                                <span class="help-block">{{ form_checklist_detail.kms_next_maintenance.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Number billing' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist.number_billing }}
                                                <span class="help-block">{{ form_checklist.number_billing.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Number contract' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist.number_contract }}
                                                <span class="help-block">{{ form_checklist.number_contract.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Taxi Driver' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.taxi_driver }}
                                                <span class="help-block">{{ form_checklist_detail.taxi_driver.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Destination' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist.destination }}
                                                <span class="help-block">{{ form_checklist.destination.errors }}</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Hour' %}</label>
                                            <div class="input-group">
                                                {{ form_checklist_detail.hour_initial }}
                                                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                            </div>
                                            <span class="help-block">{{ form_checklist_detail.hour_initial.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Km travel' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.km_initial }}
                                                <span class="help-block">{{ form_checklist_detail.km_initial.errors }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">{% trans 'Observation' %}</label>
                                            <div class="col-md-7">
                                                {{ form_checklist_detail.observation }}
                                                <span class="help-block">{{ form_checklist_detail.observation.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-pane " role="tabpanel" aria-expanded="false">
                                     <div class="col-md-12">
                                        <div class="col-md-3 col-md-push-9">
                                            <button type="button"
                                                    onclick="add_formset_global('{{ formset_checklist_inventory.prefix }}')"
                                                    class="fcbtn btn btn-primary btn-outline btn-1c waves-effect">Add
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br><br>
                                        <div class="form-group">
                                            <div class="col-md-12" id="content_{{ formset_checklist_inventory.prefix }}">
                                                {% if formset_checklist_inventory %}
                                                    {% for form in formset_checklist_inventory %}
                                                        <div class="form-group dynamic-form" id="{{ form.prefix }}-row">
                                                            {{ form.id|addcss:"hidden" }}
                                                            {{ form.DELETE|addcss:"hidden" }}
                                                            {{ form.ORDER|addcss:"hidden" }}
                                                            <label class="col-sm-3">inventory</label>
                                                            <div class="col-sm-7">
                                                                {{ form.inventory_checklist }}
                                                            </div>
                                                            <div class="col-sm-2 formset-icon-remove">
                                                                <button type="button"
                                                                        onclick="remove_formset_global(this, '{{ formset_checklist_inventory.prefix }}')"
                                                                        class="btn btn-danger btn-circle waves-effect">
                                                                    <i class="fa fa-times"></i></button>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            {{ formset_checklist_inventory.non_form_errors }}
                                            {{ formset_checklist_inventory.management_form }}

                                        </div>
                                    </div>

                                </div>
                                <div class="wizard-pane " role="tabpanel" aria-expanded="false">
                                    <div class="col-md-12">
                                        <div class="col-md-3 col-md-push-9">
                                            <button type="button"
                                                    onclick="add_formset_global('{{ formset_checklist_photo.prefix }}')"
                                                    class="fcbtn btn btn-primary btn-outline btn-1c waves-effect">Add
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br><br>
                                        <div class="form-group">
                                            <div class="col-md-12" id="content_{{ formset_checklist_photo.prefix }}">
                                                {% if formset_checklist_photo %}
                                                    {% for form in formset_checklist_photo %}
                                                        <div class="form-group dynamic-form" id="{{ form.prefix }}-row">
                                                            {{ form.id|addcss:"hidden" }}
                                                            {{ form.DELETE|addcss:"hidden" }}
                                                            {{ form.ORDER|addcss:"hidden" }}
                                                            <label class="col-sm-3">File upload</label>
                                                            <div class="col-sm-7">
                                                                {{ form.photo_checklist }}
                                                            </div>
                                                            <div class="col-sm-2 formset-icon-remove">
                                                                <button type="button"
                                                                        onclick="remove_formset_global(this, '{{ formset_checklist_photo.prefix }}')"
                                                                        class="btn btn-danger btn-circle waves-effect">
                                                                    <i class="fa fa-times"></i></button>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            {{ formset_checklist_photo.non_form_errors }}
                                            {{ formset_checklist_photo.management_form }}

                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-pane " role="tabpanel" aria-expanded="false">
                                    <div class="col-md-12">
                                        <div class="col-md-3 col-md-push-9">
                                            <button type="button"
                                                    onclick="add_formset_global('{{ formset_checklist_labour.prefix }}')"
                                                    class="fcbtn btn btn-primary btn-outline btn-1c waves-effect">Add
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br><br>
                                        <div class="form-group">
                                            <div class="col-md-12" id="content_{{ formset_checklist_labour.prefix }}">
                                                {% if formset_checklist_labour %}
                                                    {% for form in formset_checklist_labour %}
                                                        <div class="form-group dynamic-form" id="{{ form.prefix }}-row">
                                                            {{ form.id|addcss:"hidden" }}
                                                            {{ form.DELETE|addcss:"hidden" }}
                                                            {{ form.ORDER|addcss:"hidden" }}
                                                            <label class="col-sm-3">labour</label>
                                                            <div class="col-sm-4">
                                                                {{ form.labour }}
                                                            </div>
                                                            <div class="col-sm-3">
                                                                {{ form.employee }}
                                                            </div>
                                                            <div class="col-sm-2 formset-icon-remove">
                                                                <button type="button"
                                                                        onclick="remove_formset_global(this, '{{ formset_checklist_labour.prefix }}')"
                                                                        class="btn btn-danger btn-circle waves-effect">
                                                                    <i class="fa fa-times"></i></button>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            {{ formset_checklist_labour.non_form_errors }}
                                            {{ formset_checklist_labour.management_form }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}

{% block js_plugins %}
    <script src="{% static "themes/global/jquery-wizard.js/dist/jquery-wizard.min.js" %}"></script>
    <script src="{% static "themes/global/form.validation/dist/js/formValidation.min.js" %}"></script>
    <script src="{% static "themes/global/form.validation/dist/js/framework/bootstrap.min.js" %}"></script>
    <script src="{% static "themes/global/multiselect/js/jquery.multi-select.js" %}"></script>
    <script src="{% static "themes/global/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "themes/global/clockpicker/dist/bootstrap-clockpicker.min.js" %}"></script>
{% endblock js_plugins %}

{% block js_app %}
    <script src="{% static "themes/js/pages/taller/checklist/checklist.js" %}"></script>
{% endblock js_app %}