{% load i18n %}
{% load static %}
<script src="{% static "themes/js/pages/taller/typevehicle/typevehicle.js" %}"></script>
<table id="myTable" class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for typevehicle in typevehicle_list %}
        <tr>
            <td><strong>{{ forloop.counter }}</strong>.-</td>
            <td>{{ typevehicle.name }}</td>
            <td>
                <button data-id="{{ typevehicle.id }}" class="btn btn-info btn-circle waves-effect typevehicle_edit">
                    <i class="fa fa-pencil"></i>
                </button>
                {# button data-id="{{ client.id }}" class="btn btn-danger btn-circle waves-effect client_remove"><i class="fa fa-trash"></i></button>#}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>