{% extends "dashboard/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load filter %}

{% block content %}
    {% block page-content-siderbar %}
        {{ block.super }}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
                 {{ block.super }}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content" id="print_qt">
                    <div class="panel panel-white">
						<div class="panel-heading">
                            <div class="heading-elements">
                                <div class="heading-btn">
                                    <button type="button" id="btnPrint" class="btn btn-info"><i class="icon-printer"></i> Print</button>
                                </div>
                            </div>
                            <br>
						</div>
                        <div class="row" id="print_qt">

                            <div class="panel-body no-padding-bottom">
                                <div class="row text-right">
                                    <div class="media">
                                        <div class="media-right media-middle">
                                            <img src="{% static "themes/img/logo/logo_american4.png" %}" class="img-circle" alt="" />
                                        </div>
                                        <img src="{% static "themes/img/logo/logo_american2.png" %}" class="img-responsive"   />
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    {{ object.date }}
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <h3 class="text-center">
                                            <span class="text-semibold text-center">Orden de Compra </span> - {{ object.code_po_store }}
                                        </h3>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table table-striped">
                                        <tr>
                                            <td class="text-semibold">{% trans "Business Name" %}:</td>
                                            <td>{{ object.supplier.business_name }}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-semibold">{% trans "Contact" %}:</td>
                                            <td>{{ object.supplier.contact }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-semibold">{% trans "Ruc" %}:</td>
                                            <td>{{ object.supplier.document_number }}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-semibold">{% trans "Phone Contact" %}:</td>
                                            <td>{{ object.supplier.phone_contact }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-semibold">{% trans "Address" %}:</td>
                                            <td>{{ object.supplier.address }}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-semibold">{% trans "Applicant" %}:</td>
                                            <td>{{ object.applicant.first_name }} {{ object.applicant.last_name }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row">
                                     <p class="text-left">
                                         <br>
                                         Respetado sr(a) se solicita una orden de compra de los siguientes productos:
                                     </p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-lg table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-1">#</th>
                                                <th class="col-sm-1">{% trans "Product" %}</th>
                                                <th class="col-sm-1">{% trans "Quantity" %}</th>
                                                <th class="col-sm-1">{% trans "Price" %}</th>
                                                <th class="col-sm-1">{% trans "Discount" %}<br>%</th>
                                                <th class="col-sm-1">{% trans "Import" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%  for po in po_list %}
                                                <tr>
                                                    <td><b>{{ forloop.counter }}.-</b></td>
                                                    <td>{{ po.description }}</td>
                                                    <td>{{ po.quantity }}</td>
                                                    <td>{{ po.unit_price }}</td>
                                                    <td>{{ po.discount }}</td>
                                                    <td>{{ po.amount_price }}</td>
                                                </tr>
                                            {% endfor %}
                                             <tr>
                                                <td colspan="4"></td>
                                                <td>{% trans "SUBTOTAL" %}</td>
                                                <td>{{ object.sub_total }}</td>
                                             </tr>
                                             <tr>
                                                <td colspan="4"></td>
                                                <td>{% trans "IGV" %}(18%)</td>
                                                <td>{{ object.igv_total }}</td>
                                             </tr>
                                             <tr>
                                                <td colspan="4"></td>
                                                <td>{% trans "TOTAL" %}</td>
                                                <td>{{ object.total_paid }}</td>
                                             </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row invoice-payment">
                                    <div class="col-sm-7">
                                        <div class="content-group">
                                            <h6>{% trans "Authorized Person" %}</h6>
                                            <div class="mb-15 mt-15">
                                                <img src="{% static "themes/img/global/signature.png" %}" class="display-block" style="width: 150px;"  alt="">
                                            </div>

                                            <ul class="list-condensed list-unstyled text-muted">
                                                <li>{{ object.applicant.first_name }} {{ object.applicant.last_name }}</li>
                                                <li>{{ object.applicant.email }}</li>
                                                <li>Lima - {{ object.applicant.get_profile.mobile_phone }}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>

                    <br />
                    <div class="text-right">
                        <a class="btn btn-info" href="{% url path_url_list %}"><i class="fa fa-arrow-left"></i>{% trans "Back" %}</a>
                    </div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}

{% block js_plugins_before %}
    <script src="{% static "themes/js/pages/logistic/logistic.js" %}"></script>
{% endblock js_plugins_before %}